@import "tailwindcss";

:root {
  --background: #F8F6F0;
  --foreground: #171717;
  --lilac: #c8a2c8;
  --mardi-gras: #7f2982;
  --tiffany-blue: #d0efed;
  --magenta: #c23aab;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F8F6F0;
    --foreground: #171717;
    --lilac: #c8a2c8;
    --mardi-gras: #7f2982;
    --tiffany-blue: #d0efed;
    --magenta: #c23aab;
  }
}

body {
  background: var(--tiffany-blue);
  color: var(--foreground);
  font-family: var(--font-open-sans), sans-serif;
}
